// Fuente

$fuente: QuickSand, Helvetica, Arial, sans-serif

//$color-fondo: #2c3e50

// Transiciones
$tiempo-transicion: 0.4s
$tiempo-transicion-c: $tiempo-transicion/2
$tiempo-transicion-l: $tiempo-transicion * 2

// Medidas
$margen: 15px
$radio-borde: 20px
$radio-borde-boton: 10px

$padding: 20px
$padding-boton: ($padding/3)*2 ($padding/3)*4

$nav-mobile-height: 70px

// Puntos de ruptura
$mobile: 500px

// Mixins

@mixin marcador($w,$h) // Para el marcador de un pestaña
   position: absolute
   width: $w
   height: $h
   box-shadow: var(--sombra-interior)
   transition: left $tiempo-transicion cubic-bezier(0.645, 0.045, 0.355, 1)
   border-radius: $radio-borde-boton


@mixin marcador-enlace($margen,$w,$cant,$selector)
  $acu: $margen
  $ocultar: ""
  @for $i from 1 through $cant

    &:nth-child(#{$i})#{$selector} ~ .marcador
      left: $acu

    $acu: $acu + $w + (2*$margen)
    $ocultar: $ocultar + "&:not("+$selector+") ~"

  #{$ocultar} .marcador
    display: none


@mixin grid-areas($areas) // Para las areas de CSS Grid

   @each $area in $areas
     #{".area-"+$area}
       grid-area: #{$area}


@mixin scroll-bar()

  scrollbar-width: thin

  &::-webkit-scrollbar-track
    box-shadow: var(--sombra-interior)
    border-radius: 10px
    background-color: var(--fondo)

  &::-webkit-scrollbar
    width: 12px
    background-color: var(--fondo)


  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: var(--fondo-claro)
