$fuente: QuickSand, Helvetica, Arial, sans-serif

// Colores
$color-fondo: #2c3e50
$color-fondo-oscuro: lighten(#2c3e50,40%)
$color-fondo-mas-oscuro: lighten(#2c3e50,20%)

$color-acento: #ffa500
$color-acento-clara: lighten($color-acento,10%)
$color-acento-oscura: rgba($color-acento,.2)

$color-letra: #000

//$color-fondo: #2c3e50

// Transiciones
$tiempo-transicion: 0.4s

// Otros
$margen: 15px
$radio-borde: 5px