@import "variables"

@font-face
  font-family: 'QuickSand'
  src: url('assets/fonts/Quicksand-VariableFont_wght.ttf') format("truetype-variations")
  font-weight: 1 700

::selection
  background: #c2a8f7
  color: #000

// Generales

*
  margin: 0
  outline: none

html
  background-image: $gradiente-principal
  height: 100%
  animation: gradiente 30s ease infinite
  background-size: 200% 200%
  overflow: hidden

body
  font-family: $fuente
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $color-letra

#app
  height: 100%

.columna, .fila
  display: flex
  justify-content: center
  align-items: center
  flex-flow: column

.fila
  flex-flow: row

.caja
  padding: $padding
  background: $color-fondo
  border-radius: $radio-borde
  margin: $margen

.negrita
  font-weight: bold

// Forms

.btn
  padding: $padding-boton
  border-radius: $radio-borde
  font-family: $fuente
  border: 2px solid $color-acento
  background-color: $color-acento
  cursor: pointer
  color: $color-letra-clara
  box-shadow: $sombra
  font-weight: bold
  transition: box-shadow $tiempo-transicion linear, border-color $tiempo-transicion linear

  &:hover
    box-shadow: $sombra-hover

input[type="text"]
  font-family: $fuente
  padding: $padding-boton
  border-radius: $radio-borde
  border: 2px solid transparent
  box-shadow: $sombra
  transition: box-shadow $tiempo-transicion linear, border-color $tiempo-transicion linear

  &:hover, &:focus
    box-shadow: $sombra-hover

// Márgenes
.margen
  margin: $margen

// Imágenes
.logo
  width: 72px
  height: 72px
  transform: scale(1.5)

.logo-grande
  width: 250px
  height: 250px
  margin-top: -25px

// Toast
.v-toast__item--info
  background-color: #1c85d5

// Loader
.velmld-overlay
  border-radius: $radio-borde

// Transiciones

.ocultar-enter-active
  animation: ocultar $tiempo-transicion-l

.ocultar-leave-active
  animation: ocultar $tiempo-transicion-l reverse

.ocultar-corto-enter-active
  animation: ocultar $tiempo-transicion

.ocultar-corto-leave-active
  animation: ocultar $tiempo-transicion reverse

@keyframes ocultar
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes gradiente
  0%
    background-position: 0 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0 50%




