@import "variables"
@import "css_variables"

@font-face
  font-family: 'QuickSand'
  src: url('assets/fonts/Quicksand-VariableFont_wght.ttf') format("truetype-variations")
  font-weight: 1 700

::selection
  background: var(--acento)
  color: #fff

// Generales

*
  margin: 0
  outline: none

html
  height: 100%

body
  font-family: $fuente
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: var(--letra)
  background: var(--fondo)

#app
  height: 100%

.columna, .fila
  display: flex
  justify-content: center
  align-items: center
  flex-flow: column

.fila
  flex-flow: row

.caja
  padding: $padding
  background: var(--fondo)
  border-radius: $radio-borde
  margin: $margen
  box-shadow: var(--sombra)
  z-index: 1
  transition: background-color $tiempo-transicion-c linear

.negrita
  font-weight: bold

// Forms

.btn, .btn-icon
  display: block
  padding: $padding-boton
  border-radius: $radio-borde-boton
  font-family: $fuente
  border: 0
  background: linear-gradient(315deg, #e35b1c, #ff6c21)
  cursor: pointer
  color: var(--letra-boton)
  box-shadow: var(--sombra-boton)
  font-weight: bold
  font-size: 0.8rem
  z-index: 2
  transition: box-shadow $tiempo-transicion-c linear

  &.info
    background: linear-gradient(315deg, var(--info), var(--info-claro))
    box-shadow: var(--sombra-boton-info)

    &:not([disabled]):active
      box-shadow: var(--sombra-interior-boton-info)

  &.error
    background: linear-gradient(315deg, var(--error), var(--error-claro))
    box-shadow: var(--sombra-boton-error)

    &:not([disabled]):active
      box-shadow: var(--sombra-interior-boton-error)

  &:not([disabled]):active
    box-shadow: var(--sombra-interior-boton)

  &[disabled]
    opacity: 0.4
    cursor: default

.btn-icon
  color: var(--letra-secundario)
  background: var(--fondo)
  border-radius: 50%
  box-shadow: var(--sombra)
  width: 4rem
  height: 4rem
  padding: 0

  &.sm
    width: 2rem
    height: 2rem

  &.s
    width: 2.5rem
    height: 2.5rem

  &:not([disabled]):active
    box-shadow: var(--sombra-interior)


// Ocultar las flechas de un input number en webkit
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type="text"], input[type="number"]
  font-family: $fuente
  padding: $padding-boton
  border-radius: $radio-borde-boton
  border: 0
  -moz-appearance: textfield
  box-shadow: var(--sombra-interior)
  transition: box-shadow $tiempo-transicion-c linear
  background: var(--fondo)
  color: var(--letra-oscura)
  font-weight: bold
  font-size: 0.9rem

  &::placeholder
    color: var(--letra-oscura)

  &:focus
    box-shadow: var(--sombra)

input[type="checkbox"]
  display: none

  $ancho-check: 60px
  $alto-check: $ancho-check/2
  $margen-check: 5px

  &+label
    display: block
    position: relative
    width: $ancho-check
    height: $alto-check
    border-radius: $radio-borde
    background: var(--fondo)
    box-shadow: var(--sombra)
    transition: all $tiempo-transicion-c linear

    cursor: pointer

    &:before
      content: ''
      transition: all $tiempo-transicion-c linear
      position: absolute
      height: $alto-check - ($margen-check * 2)
      width: $alto-check - ($margen-check * 2)
      margin: $margen-check
      transform: translateX(0)
      background: var(--letra-clara)

      border-radius: $radio-borde

  &:checked+label
    box-shadow: var(--sombra-interior-boton)
    background: var(--acento)
    &:before
      background: var(--fondo)
      transform: translateX(calc(100% + #{$margen-check*2}))

hr
  border-color: var(--letra)
  opacity: 0.6
// Márgenes
.margen
  margin: $margen

.margen-inf
  margin-bottom: $margen

// Textos
.texto-grande
  margin-bottom: $margen
  font-size: 1.3em
  color: var(--acento)

h2.texto
  font-size: 1.4em
  text-align: center
  color: var(--letra-secundario)

// Imágenes
.logo
  width: 72px
  height: 72px
  transform: scale(1.5)

.logo-grande
  width: 250px
  height: 250px
  margin-top: -25px

// Toast
.v-toast__item--info
  background-color: #1c85d5

// Carga
.velmld-overlay
  background: var(--fondo-carga) !important

// Loader
.velmld-overlay
  border-radius: $radio-borde

// Swal2
.swal2-container

  .swal2-title
    color: var(--letra)

  .swal2-content
    color: var(--letra)

  .swal2-header
    padding: 0

  .swal2-actions
    flex-wrap: nowrap

  .swal2-popup
    border-radius: $radio-borde
    background: var(--fondo)

  .swal2-title, #swal2-content
    padding-bottom: $margen

  .swal2-input:focus
    border: 0

  .swal2-input
    width: 200px

  .btn
    margin: 0 $margen

  .swal2-validation-message
    font-weight: bold

// Vue select

.select

  .vs__selected
    color: var(--letra)

  .vs__dropdown-toggle
    box-shadow: var(--sombra-interior)
    border: 0
    cursor: pointer
    border-radius: $radio-borde-boton
    padding-left: 5px
    padding-right: 5px
    height: 46px

  .vs__open-indicator
    fill: var(--letra)

  .imagen-divisa
    margin-right: $margen

.vs__dropdown-menu
  @include scroll-bar
  background: var(--fondo) !important
  box-shadow: var(--sombra-interior) !important
  border: 0 !important

  .vs__dropdown-option
    display: flex
    align-items: center
    color: var(--letra)

    &.vs__dropdown-option--highlight
      background: var(--fondo-claro)
      color: var(--letra-boton)

    &.vs__dropdown-option--selected
      opacity: 0.4
      background: var(--fondo)
      color: var(--letra)
      cursor: default

  .imagen-divisa
    margin-right: $margen


// Transiciones

.ocultar-enter-active
  animation: ocultar $tiempo-transicion-l

.ocultar-leave-active
  animation: ocultar $tiempo-transicion-l reverse

.ocultar-corto-enter-active
  animation: ocultar $tiempo-transicion

.ocultar-corto-leave-active
  animation: ocultar $tiempo-transicion reverse

.sin-animacion
  animation: none !important

@keyframes ocultar
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes gradiente
  0%
    background-position: 0 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0 50%


// Css general movil

@media (max-width: $mobile)

  .grafico .altura
    max-width: 70vw
    height: 200px